
body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	width: 80%;
	background-color: #f4f4f4;
	color: #333333;
}
.content {
	max-width: 1000px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.content a {
	color: #3498db;
	text-decoration: none;
}
.content a:hover {
	text-decoration: none;
	text-shadow: 0 0 5px lightgrey;
	color: #2980b9;
}
.banner {
	background: #483d8b;
	padding: 15px 0;
	text-align: center;
	font-family: 'Arial', sans-serif;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid #d3d3d3;
}
.banner a {
	margin: 0 20px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 2em;
	transition: color 0.3s, transform 0.3s;
}
.banner a:hover {
	color: #ffffff;
	text-decoration: none;
	transform: scale(1.2);
	text-shadow: 0 0 5px black
}
h1 {
	text-align: center;
	font-size: 2.5em;
	color: #483d8b;
	margin-top: 20px;
}
h2 {
	font-size: 1.75em;
	color: #483d8b;
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
}
h3 {
	font-size: 1.25em;
	color: #483d8b;
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.contact {
	font-style: italic;
}
